---
import { Image } from "astro:assets";

import ASPR_001_BW from "../images/ASPR_001_BW.jpg";
import ASPR_003_BW from "../images/ASPR_003_BW.jpg";
import ASPR_006_BW from "../images/ASPR_006_BW.jpg";
import ASPR_009_BW from "../images/ASPR_009_BW.jpg";
import ASPR_010_BW from "../images/ASPR_010_BW.jpg";
import ASPR_013_BW from "../images/ASPR_013_BW.jpg";
import ASPR_020_BW from "../images/ASPR_020_BW.jpg";
import ASPR_023_BW from "../images/ASPR_023_BW.jpg";
import ASPR_024_BW from "../images/ASPR_024_BW.jpg";
---

<div class="grid grid-cols-3 md:grid-cols-3 gap-4">
  <div class="grid gap-4">
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_001_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_003_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_006_BW}
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_009_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_010_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_013_BW}
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_020_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_023_BW}
        alt=""
      />
    </div>
    <div>
      <Image
        class="h-full max-w-full rounded-lg object-cover"
        src={ASPR_024_BW}
        alt=""
      />
    </div>
  </div>
</div>
