---
import PlayIcon from "./playIcon.astro";
import PauseIcon from "./pauseIcon.astro";

const { work } = Astro.props;

const audioPath = work?.data.audio ?? null;

let correctedAudioPath = audioPath;

if (audioPath) {
  if (!audioPath.includes(".mp3")) {
    correctedAudioPath = audioPath + ".mp3";
  }

  correctedAudioPath = `${import.meta.env.BASE_URL}api/serve-audio/${encodeURIComponent(correctedAudioPath)}`;
}
---

<a href={`${import.meta.env.BASE_URL}works/${work.data.workNumber}`}>
  <div
    class="bg-white/70 rounded-lg flex flex-row gap-2 md:gap-4 overflow-hidden drop-shadow-lg h-full hover:bg-white/90 transition-all duration-300"
  >
    <div class="flex flex-col gap-1 p-3 flex-grow">
      <div class="flex flex-col gap-1 justify-start items-start w-full">
        <h2
          class="text-[15px] md:text-lg font-bold text-[#2e6280] drop-shadow-[0_1px_0px_var(--tw-shadow-color)] shadow-secondaryDark"
        >
          {`${work.data.title} (${work.data.compositionYear})`}
        </h2>
        <div class="flex flex-row gap-2">
          <p class="text-xs md:text-sm">
            {
              work.data.length && (
                <span class="font-bold">({work.data.length}) ·</span>
              )
            }
            {work.data.forces && <span>{work.data.forces}</span>}
          </p>
        </div>
      </div>
      <div class="flex-grow">
        <p class="text-xs md:text-sm pb-1">{work.data.shortDesc}</p>
      </div>
    </div>
    <div class="flex justify-center items-center p-2 pl-0">
      {
        audioPath && (
          <label class="btn btn-circle btn-sm md:btn-md btn-secondary swap md:mx-2 text-primary drop-shadow-md">
            <input
              type="checkbox"
              class="card-pay-buttons"
              id={work.data.workNumber}
              data-audio-url={correctedAudioPath}
              aria-label="Play and pause"
            />
            <div class="swap-off p-2">
              <PlayIcon class="text-contrast" />
            </div>
            <div class="swap-on text-contrast p-2">
              <PauseIcon class="text-contrast" />
            </div>
          </label>
        )
      }
    </div>
  </div>
</a>
